{% extends 'Login/LoginBase.html' %}

{% block title %} Fazer login {% endblock %}

{% block login_content %}

<div class="card">
    <form action="" method="post">
        {% csrf_token %}
        <div class="card-header text-center">
            <h3 class="m-0">Por favor, faça seu login</h3>
        </div>
        <div class="card-body pb-0">
            {% if message %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endif %}
            {% if alert %}
                <div class="alert alert-danger">
                    {{ alert }}
                </div>
            {% endif %}
            {% for field in form %}
                <div class="mb-3">
                    {{ field.label }}
                    {{ field }}
                </div>
            {% endfor %}
            <a href="{% url 'recuperar_senha' %}">Esqueceu a senha?</a>
            <p>Não tem conta? <a href="{% url 'cadastrar' %}">Cadastre-se!</a></p>
        </div>
        <div class="card-footer d-flex justify-content-center align-items-center">
            <input
                type="submit"
                class="btn btn-primary"
                value="Entrar"
            />
        </div>
    </form>
</div>

{% endblock %}
