{% extends 'Base.html' %}

{% block content %}

<div class="main-login position-relative w-100 h-100 z-0"></div>
<div class="d-flex justify-content-center align-items-center flex-column w-100 h-100 position-absolute z-0">
    {% block login_content %}{% endblock %}
</div>

{% endblock %}

{% block styles %}
<style>
    .main-login {
        background-image: url("/media/fundo.jpeg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        filter: blur(.3rem);
    }

    .text-shadow {
        text-shadow: .125rem .125rem .3rem #000;
    }
</style>
{% endblock %}
