{% extends 'Login/LoginBase.html' %}

{% block title %} Recuperar senha {% endblock %}

{% block login_content %}

<div class="card ms-2 me-2 ms-xl-0 me-xl-0">
    <div class="card-header text-center">
        <h3 class="m-0">Recuperar senha</h3>
    </div>
    <div class="card-body pb-0">
        <p>
            Um email foi enviado com um link para recuperar a senha. <br />
            Se não chegar, <a href="{% url 'recuperar_senha' %}">reenvie o email.</a>
        </p>
    </div>
</div>

{% endblock %}
